
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

.atm-container {
    width: 800px;
    margin: 0 auto;    
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #e1e8ed;
}


.atm-header {
    background: linear-gradient(135deg, #ED2722 0%, #ED2722 100%);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bank-logo img {
    height: 35px;
    filter: brightness(0) invert(1);
}

.title-row {
    display: flex;
    align-items: center;  
    gap: 20px;             
    margin: 30px 40px 0;
}

.leave-btn {
    margin-right: 170px;
    padding: 8px;
    background-color: #ED2722;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
}

.btn-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
}



#qrcode {
  margin: 20px auto;
}

.instructions {
  font-size: 16px;
  margin-bottom: 20px;
}

